<section class="edit">
  <form method="post" action="/preview">
    <textarea name="content" placeholder="Paste!"></textarea>
    <input type="submit" value="Preview!" class="hover-normal" />
    <input type="reset" value="Discard!" class="hover-warning" />
  </form>
</section>
