<section class="edit">
  <form method="post" action="/preview">
    <textarea name="content" placeholder="Write it!"></textarea>
    <input type="submit" value="Preview it!" class="hover" />
  </form>
</section>
