<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= "#{APP_NAME}" %> | Preview!</title>
    <link rel="stylesheet" href="/preview.css" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic&subset=latin" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <section class="preview">
      <%= @preview %>
    </section>
  </body>
</html>
