/* Box Sizing */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing   : border-box;
  box-sizing        : border-box;
}

/* HTML */

html {
  width     : 95%;
  min-height: 100%;
}

/* Body */

body {
  font            : 400 112.5%/1.5 "Cousine", "Liberation Mono", Consolas, "DejaVu Sans Mono", Menlo, Monaco, Andale Mono, monospace;
  color           : #333;
  background-color: #fefefe;
}

::selection {
  color           : #fefefe;
  background-color: #333;
}

/* Main */

.app-container {
  max-width: 720px;
}

.app-header,
.app-footer {
  padding-top: 1em;
  overflow   : hidden;
}

/* Heading */

h1 {
  margin     : 0.125em 0;
  line-height: 1.3;
  font-size  : 2em;
  font-weight: 400;
}

.brand,
.brand a {
  border-bottom: 1px solid transparent;
}

/* Paragraphs */

p {
  margin-bottom: 1.5em;
}

.bold {
  font-weight: 700;
}

/* Links */

a {
  color          : #333;
  text-decoration: none;
  border-bottom  : 1px solid #333;
}

  a:hover,
  a:active,
  a:focus {
    color        : #999;
    border-bottom: 1px solid #999;
  }

/* Forms */

textarea,
input[type="submit"],
input[type="reset"] {
  padding: 8px 12px;
  font   : inherit;
  outline: none;
}

textarea {
  display: block;
  width  : 100%;
  height : 480px;
  border : 2px solid #333;
}

input[type="submit"],
input[type="reset"] {
  margin-right    : 0.75em;
  min-width       : 20%;
  line-height     : 1;
  color           : #fefefe;
  background-color: #333;
  border          : 0;
}

  .hover-normal:hover,
  .hover-warning:hover {
    cursor: pointer;
  }

    .hover-normal:hover,
    .hover-normal:active {
      background-color: #666;
    }

    .hover-warning:hover,
    .hover-warning:active {
      background-color: #aa0000;
    }

/* Shared */

html,
.app-container {
   margin: 0 auto; 
}

.app-header,
.app-footer,
.app-content,
input[type="submit"],
input[type="reset"] {
  margin-top: 1.5em;
}

a:active,
.hover-normal:active,
.hover-warning:active {
  position: relative;
  top     : 1px;
}

/* Media Queries */

@media only screen and (max-width: 640px) {
  
  .app-header {
    padding-top: 0;
  }

  .app-footer p {
    margin-bottom: 0.75em;
  }

}
